/* landing-page.component.scss */
:host {
  display: block;
  background-color: var(--main-bg);
  color: var(--primary-text);
}

section {
  scroll-margin-top: 4rem;
  background: transparent;
}

/* Add smooth scroll behavior */
:host ::ng-deep html {
  scroll-behavior: smooth;
}